{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-dark shadow-lg animated fadeInDown">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title">Two-Factor Authentication</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Please enter the authentication code sent to your email.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="authCode">Authentication Code</label>
                                <input type="text" id="authCode" name="_auth_code" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
