{% extends 'baseBack.html.twig' %}

{% block title %}NutriFit | Home{% endblock %}


{% block body %}

    <br>
    <div align="center">
        <strong>Home Page</strong>
    </div>

    <br>
    <br>
    <br>


{% endblock %}