{% extends 'base.html.twig' %}

{% block title %}New Offres{% endblock %}

{% block body %}
    <h1>Create new Offres</h1>

    {{ include('offres/_form.html.twig') }}

    <a href="{{ path('app_offres_index') }}">back to list</a>
{% endblock %}
