{% extends 'base.html.twig' %}

{% block title %}
    New Reclamation
{% endblock %}

{% block body %}
<center>
<div class="container">
    <h1 class="mb-4">Create New Reclamation</h1>

    <div class="form-container">
        {{ include('reclamation/_form.html.twig') }}
    </div>

    <div class="mt-3">
        <a href="{{ path('app_reclamation_index') }}" class="btn btn-secondary">Back to List</a>
    </div>
</div>
</center>
{% endblock %}
