{% extends 'baseBack.html.twig' %}

{% block title %}
    Edit Reponse
{% endblock %}

{% block body %}
<div class="container">
    <div class="card edit-reponse">
        <div class="card-header">
            <h1 class="card-title mb-0">Edit Reponse</h1>
        </div>
        <div class="card-body">
            {{ include('reponse_back/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        <div class="card-footer">
            <div class="btn-group" role="group">
                <a href="{{ path('app_reponse_back_index') }}" class="btn btn-secondary">Back to List</a>
                {{ include('reponse_back/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
