{% extends 'baseBack.html.twig' %}

{% block title %}welcome to espace Admin {% endblock %}


{% block body %}

    <br>
    <div align="center">
        <strong>Espace Administration</strong>
    </div>

    <br>
    <br>
    <br>


{% endblock %}