<form method="post" action="{{ path('app_planning_crud_delete', {'id': planning.id}) }}" onsubmit="return confirm('Êtes vous sûr de supprimer ce planning ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning.id) }}">
    <button style="margin-top:-18px; margin-right:53px" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Supprimer">
        <i class="zmdi zmdi-delete"></i>
    </button>
</form>
