{% extends 'baseBack.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block body %}
    <h1>Edit Reclamation</h1>

    {{ include('reclamation_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reclamation_back_index') }}">back to list</a>

    {{ include('reclamation_back/_delete_form.html.twig') }}
{% endblock %}
