{% extends 'baseBack.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block body %}
    <h1>Edit Blog</h1>

    {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_blog_index') }}" class="btn btn-secondary">Back to List</a>

    {{ include('blog/_delete_form.html.twig') }}
{% endblock %}
