{% extends 'baseBack.html.twig' %}

{% block title %}NutriFit | Activité{% endblock %}

{% block body %}


    {{ include('activite_crud/form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

{% endblock %}

