{% extends 'baseBack.html.twig' %}

{% block title %}New Sponsor{% endblock %}

{% block body %}
    <h1>Create new Sponsor</h1>

    {{ include('sponsor_back/_form.html.twig') }}

    <a href="{{ path('app_sponsor_back_index') }}">back to list</a>
{% endblock %}
