{% extends 'baseBack.html.twig' %}

{% block title %}Edit Offres{% endblock %}

{% block body %}
    <h1>Edit Offres</h1>

    {{ include('offres_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_offres_back_index') }}">back to list</a>

    {{ include('offres_back/_delete_form.html.twig') }}
{% endblock %}
