{% extends 'baseBack.html.twig' %}

{% block title %}New Offres{% endblock %}

{% block body %}
    <h1>Create new Offres</h1>

    {{ include('offres_back/_form.html.twig') }}

    <a href="{{ path('app_offres_back_index') }}">back to list</a>
{% endblock %}
